# Ignore Visual Studio files
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile

# Ignore NuGet packages
packages/

# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Ignore common file types
*.exe
*.dll
*.com
*.class
*.lib
*.bak
*.log
*.tmp
*.core
*.msi
*.zip
*.7z
*.gz
*.tar
*.tgz
*.rar

# Ignore Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Ignore ReSharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Ignore NuGet packages
*.nupkg
# Except the root package directory
!/*.nupkg/

# Ignore VSCode files
.vscode/
